/*para resetear la pagina*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.todo{
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}
/*contenedor de navegacion*/
.Navegacion{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
/*perrito de la navegacion*/
.perrito_arriba img{
    display: flex;
    margin-left: 15vw;
    margin-right: 20vw;
    justify-content: center;
    padding: 15px;
    border-radius: 30px;
}
/*elementos ul de la navegacion*/
.Navegacion ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding-right: 10%;
}
/*para los textos y la decoracion por defecto*/
.Navegacion li a{
    display: flex;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
/*primera seccion*/
#Home{
    position: relative;
    background-image: url('imagenes/de753cc376755d7e56de707dcd864ab583e15275.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    display:flex;
    padding-top: 100px;
    text-align: left;
    justify-content: center;
    align-items: center;
}
/*contenedor de la informacion y los perritos*/
.informacion{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20%;
    margin-left: 10%;
}
/*contenedor de los perritos*/
.iconos{
    display: flex;
    align-items: center;
    gap: 30px;
}
/*contenedor de los textos*/
.textos{
    display: flex;
    flex-direction: column;
}
/*textos p*/
.textos p{
    color: #B28B12;
    font-size: 20px;
}
/*textos h2*/
.textos h2{
    color: #1F3B63;
    font-size: 60px;
}

.iconos img{
    width: 3%;
    height: auto;
    color: #B28B12;
}

.fondo_perritos{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1F3B63; /* Azul */
    padding: 20px 0;
}
.perritos_de_home {
    display: flex;
    justify-content: left;
    margin-left: 10%;
}

.perritos_de_home img{
    width: 50px;
    height: auto;
    border-radius: 30px;
}

.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    min-height: 100vh;
    background-color: white;
    padding-top: 0%;
    padding: 5%;
    gap: 5%;
}

/*services text*/
#serv{
    color: #B28B12;    
}
.services h2{
    color: #1F3B63;
    font-size: 60px;
}
.services p{
    font-size: 20px;
    color: #717275;
}

.services img{
    width: 40vh;
    border-radius: 20px;
}

/*divs con la informacion*/
.primero{
    display: grid;
    grid-column: 1/5;
    justify-content: center;
    align-items: center;
}

.full_bath{
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    justify-content: center;
}

.full_bath_img{
    display: flex;
    justify-content: center;
    grid-row-start: 2;
    grid-column-start: 4;
}

.full_grooming{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2/5;
}

.full_grooming_img{
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-row-start: 3;
}
.colorimetry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/4;
}
.colorimetry_img{
    display: flex;
    justify-content: center;
    grid-row-start: 4;
    grid-column-start: 4;
}
.Set_Appointment{
    display: flex;
    padding: 15%;
    background-color: #1F3B63;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 100vh;
    margin: auto;
    background-color: white;
    align-items: center;
    border-radius: 30px;
    text-align: center;
}
fieldset{
    border: none;
}
legend{
    font-size: 35px;
    color: #1F3B63;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    font-weight: bold;
}
input {
    display: flex;
    padding: 10px;
    border: 2px solid #717275;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f5f5f5;
    margin-bottom: 35px;
    width: 80vh;
}

button{
    background-color: #1F3B63;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: background-color 0.3s ease;
    width: 30vh;
}

footer{
    text-align: center;
    padding: 40px;
}

/*responsive desing*/

@media (max-width: 475px) {
   .Navegacion{
    justify-content: space-evenly;

   } 

   .formulario{
    width: 350px;
   }

   input{
    width: 250px;
    
   }
}